
.hero-body .subtitle {
    padding-top: 1rem;
}

footer .container {
    padding: 30px 0;
    border-top: 1px solid #cccccc;
}

footer span {
    white-space: nowrap;
}

section.home {
    padding: 3rem 1.5rem;
}
